<h1>   <%= @event.name %>   </h1>

<ul>
  <li> <%= @event.description %> </li>
  <li> <%= @event.location %> </li>
  <li> <%= @event.address %> </li>
  <li> <%= @event.city %>, <%= @event.state %> <%= @event.zip %> </li>
</ul>
