<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar role="navigation">
        <div class="title-area">
          <h2 class="name">Away Games</h2>
        </div>

        <section class="top-bar-section">
          <ul class="right">
            <% if user_signed_in? %>
              <li> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </li>
              <li> <%= link_to 'Your Profile', user_path(current_user) %> </li>
            <% else %>
              <li> <%= link_to 'Sign Up', new_user_registration_path %> </li>
              <li> <%= link_to 'Sign In', new_user_session_path %> </li>
            <% end %>
            <li><%= link_to 'Home', root_path %></li>
          </ul>
       </section>
      </nav>
    </div>
    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>
    <%= yield %>
  </body>
</html>
